mixin check(label, name, id, type = 'checkbox', value = '', classes = '', isRequired = false)
    .check(class=classes)
        input.check__input(type=type, id=id, name=name, value=value, required=isRequired)
        label.check__label(for=id, class='check__label--'+type) !{label}